@model IEnumerable<DeviceDTO>
@{
    ViewData["Title"] = "Device List Page";
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
<table id="example" class="table table-striped">
    <thead>
        <tr>
            <th>Seri No</th>
            <th>Cihaz İsmi</th>
            <th>Evcil Dost İsmi</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SerialNumber</td>
                <td>@item.Name</td>
                <td>@item.PetName</td>
                <td>
                    <div class="btn group">
                        <a class="btn btn-success" asp-controller="Dashboard" asp-action="Index" asp-route-deviceSerialNumber="@item.SerialNumber">
                            <i class="fa fa-chart-area"></i> Grafikler
                        </a>
                        <a class="btn btn-primary" asp-controller="Device" asp-action="Get" asp-route-id="@item.ID">
                            <i class="fa fa-edit"></i> Detay
                        </a>
                        <form asp-controller="Device" asp-action="Delete" method="post" style="display:inline;">
                            <input type="hidden" name="ID" value="@item.ID" />
                            <input type="hidden" name="Name" value="@item.Name" />
                            <input type="hidden" name="PetName" value="@item.PetName" />
                            <input type="hidden" name="SerialNumber" value="@item.SerialNumber" />
                            <button type="submit" class="btn btn-danger">
                                <i class="fa fa-trash"></i> Sil
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

